/* 

prochaine reunion
git
et
voir le code

*/


:root {
    --main-accent-color: rgba(0, 101, 252, 1);
    --light-accent-color: #DEEBFF;
    --bg-color: #F2F2F2;
    --light-grey: #d9d9d9;
    --primary-text-color: #000;
}

/* GENERIC */
*,
*::before,
*::after {
    box-sizing: border-box;
}

*:focus {
    outline: 0;
    box-shadow: 0 0 1px 2px var(--main-accent-color) !important;
}

body {
    background: white;
    padding: 0;
    margin: 0;
}

/* TYPOGRAPHY */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: normal;
    font-size: 1.6rem;
    color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 { font-size: 2.2rem; }

h2 { font-size: 1.8rem; }

h3 { font-size: 1.8rem; }

h4,h5,h6 { font-size: 1.6rem; }

small,
.text_small {
    font-size: 0.8rem;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}
a:hover,
a:active {
    color: var(--main-accent-color);
}

/* BUTTONS */
button {
    font-family: 'Raleway', sans-serif;
    white-space: nowrap;
    cursor: pointer;
}

/* PAGE LAYOUT */
.page-header {
    margin-top: 10px;
}

.main-content {
    margin-top: 40px;
}

.page-footer {
    margin-top: 50px;
}

.section-search,
.section-hebergements,
.section-activites,
.section-populars,
.page-footer {
    padding-left: 20px;
    padding-right: 20px;
}

/* MAIN LAYOUT */
.main-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:    "populars"
                            "hebergements"
                            "activites";
}

.main-content .section-hebergements {
    grid-area: hebergements;
    margin-top: 40px;
}

.main-content .section-activites {
    grid-area: activites;
    margin-top: 58px;
}

.main-content aside {
    grid-area: populars;
}

/* SECTIONS LAYOUT */
.section-hebergements .section-title,
.section-activites .section-title,
.section-populars .section-title {
    margin-top: 0;
    margin-bottom: 26px;
}

.posts-hebergements,
.posts-activities,
.posts-popular {
    display: grid;
    grid-template-columns: 1f;
    row-gap: 11px;
}

.posts-activities {
    row-gap: 24px;
}

/* FOOTER LAYOUT */
.footer-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 35px;
}

/* NAVIGATION */
.main-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main-navigation li {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    min-width: 50%;
}

.main-navigation a {
    display: block;
    color: var(--main-accent-color);
    text-decoration: none;
    padding-top: 13px;
    padding-bottom: 13px;
}

.main-navigation .menu-item-logo a {
    padding-left: 20px;
    text-align: left;
}

.main-navigation .menu-item-subscribe a {
    padding-right: 20px;
    text-align: right;
    font-weight: bold;
}

.main-navigation .menu-item-subscribe a:hover {
    text-decoration: underline;
}

.main-navigation .menu-item-hebergements a,
.main-navigation .menu-item-activites a {
    border-bottom: 3px solid var(--bg-color);
    color: var(--primary-text-color);
    text-align: center;
}

.main-navigation .menu-item-hebergements a:hover,
.main-navigation .menu-item-activites a:hover,
.main-navigation .menu-item-hebergements.active a,
.main-navigation .menu-item-activites.active a {
    border-bottom-color: var(--main-accent-color);
    color: var(--main-accent-color);
}

/* SECTION SEARCH */
.section-search h1,
.search-form,
.filters,
.search-info {
    margin-top: 35px;
}

/* SEARCH FORM */
.search-form form {
    position: relative;
}

.search-form label,
.search-form input,
.search-form button {
    height: 50px;
    line-height: 50px;
    font-size: 1.8rem;
    border: 0;
    border-radius: 12px;
}

.search-form label,
.search-form button {
    position: absolute;
    top: 0;
    width: 50px;
    text-align: center;
}

.search-form label {
    left: 0;
    background-color: var(--bg-color);
    border-top-right-radius: 0x;
    border-bottom-right-radius: 0x;
}

.search-form input {
    font-family: 'Raleway', sans-serif;
    border: 1px solid var(--bg-color);
    font-weight: bold;
    width: 100%;
    padding-left: 67px;
    padding-right: 67px;
    border-radius: 14px;
}

.search-form button {
    right: 0;
    background-color: var(--main-accent-color);
    color: white;
}

.search-form button:hover .btn-text {
    text-decoration: underline;
}

.search-form .btn-text {
    display: none;
    padding-left: 18px;
    padding-right: 18px;
    font-weight: bold;
}

/* FILTERS */
.list-filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    column-gap: 11px;
    row-gap: 13px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-filters .fas {
    color: var(--main-accent-color);
}

.btn-filter {
    display: flex;
    position: relative;
    z-index: 10;
    background-color: transparent;
    border: 2px solid var(--light-grey);
    font-size: 1.6rem;
    font-weight: bold;
    padding: 0;
    border-radius: 50vh;
}

.btn-filter::before {
    position: absolute;
    z-index: -1;
    content: "";
    height: 50px;
    width: 50px;
    top: -2px;
    left: -2px;
    border-radius: 50vh;
    background-color: var(--light-accent-color);

    transition: width ease-in-out .25s;
}

.btn-filter .btn-icon {
    width: 50px;
    line-height: 50px;
    background-color: var(--light-accent-color);
    border-radius: 50vh;
    margin: -2px 0 -2px -2px;
}

.btn-filter .btn-text {
    line-height: 46px;
    margin-left: 12px;
    padding-right: 18px;
}

.btn-filter:hover::before {
    height: 50px;
    width: 100%;
    left: 2px;
}

/* SEARCH INFO */
.search-info {
    display: flex;
}

.search-info span {
    flex-shrink: 0;
    vertical-align: top;
    margin-right: 12px;
}

.search-info .fa-info {
    color: var(--main-accent-color);
}

.search-info .fa-circle {
    color: var(--light-grey);
}

.search-info p {
    margin: 8px 0 0;
}

/* ARTICLES COMMON*/
.post > a {
    display: block;
    text-decoration: none;
    color: var(--primary-text-color);
    border-radius: 20px;
    padding: 5px;
    background-color: white;
    box-shadow: rgb(0, 0, 0, .1) 0px 3px 15px;

}

.post > a:hover {
    box-shadow: rgb(0, 0, 0, .5) 0px 3px 15px;
}
.post > a:hover .post-title {
    text-decoration: underline;
}

.post-thumbnail picture {
    display: block;
}

.post-thumbnail img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

.post .post-title {
    margin: 0;
    font-size: 1.6rem;
}

.post p {
    font-size: 1.4rem;
    margin: 8px 0 0;
}

.post .rating {
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: var(--main-accent-color);
}

.post .rating .inactive {
    color: #d9d9d9;
}

/* SECTION POPULARS */
.section-populars {
    background-color: var(--bg-color);
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-populars .section-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-popular > a {
    display: flex;
    align-items: stretch;
}

.post-popular .post-thumbnail {
    display: block;
}

.post-popular .post-thumbnail img {
    width: 127px;
    height: 134px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.post-popular .post-content {
    display: flex;
    flex-direction: column;
    padding: 11px 16px 8px 11px;
}

.post-popular .post-content p {
    flex-grow: 1;
}

.post-popular .post-content .rating {
    flex-shrink: 1;
    flex-grow: 0;
}

/* SECTION HEBERGEMENTS */
.post-hebergements .post-thumbnail img {
    width: 100%;
    height: 114px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.post-hebergements .post-content {
    padding: 11px;
}

.read-more {
    display: block;
    margin: 34px 0 0;
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 1.8rem;
}

.read-more:hover {
    text-decoration: underline;
}

/* SECTION ACTIVITES */
.post-activites {
    padding: 0;
}

.post-activites .post-thumbnail img {
    width: 100%;
    height: 134px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.post-activites .post-content {
    padding: 22px 18px 16px;
}

/* FOOTER */
.page-footer {
    background-color: var(--bg-color);
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-footer h4 {
    margin-top: 0;
    margin-bottom: 22px;
}

.page-footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-footer li {
    margin: 15px 0 0;
    padding: 0;
}

.page-footer a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.page-footer a:hover {
    text-decoration: underline;
}

/* Medium devices */
@media (min-width: 768px) {

    /* LAYOUT */
    .page-content,
    .footer-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* HEADER LAYOUT */
    .page-header {
        margin-top: 0;
    }

    .section-search,
    .section-hebergements,
    .section-activites,
    .section-populars,
    .page-footer {
        padding-left: 0;
        padding-right: 0;
    }

    .section-search {
        margin-top: 20px;
    }

    /* SECTIONS LAYOUT */
    .posts-popular {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .post-popular {
        grid-column: span 2;
    }
    
    .post-popular:nth-last-of-type(1):nth-of-type(odd) {
        grid-column-start: 2;
        grid-column-end: 4;
    }

    .posts-hebergements,
    .posts-activities {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    
    /* FOOTER LAYOUT */
    .footer-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }

    /* NAVIGATION */
    .main-navigation {
        align-items: flex-start;
    }

    .main-navigation li {
        min-width: auto;
    }

    .main-navigation .menu-item-logo {
        padding: 0;
        order: 1;
        flex-shrink: 1;
        flex-grow: 0;
    }

    .main-navigation .menu-item-hebergements {
        order: 2;
        flex-shrink: 1;
        flex-grow: 0;
        margin-left: auto;
    }

    .main-navigation .menu-item-activites {
        order: 3;
        flex-shrink: 1;
        flex-grow: 0;
    }

    .main-navigation .menu-item-subscribe {
        order: 4;
        flex-shrink: 1;
        flex-grow: 0;
    }

    .main-navigation .menu-item-logo a {
        padding: 30px 0 0 0;
    }

    .main-navigation .menu-item-hebergements a,
    .main-navigation .menu-item-activites a,
    .main-navigation .menu-item-subscribe a {
        padding: 28px;
        border-bottom: 0;
    }

    .main-navigation .menu-item-hebergements a,
    .main-navigation .menu-item-activites a,
    .main-navigation .menu-item-subscribe a {
        border-top: 3px solid var(--bg-color);
    }
    
    .main-navigation .menu-item-hebergements a:hover,
    .main-navigation .menu-item-activites a:hover,
    .main-navigation .menu-item-hebergements.active a,
    .main-navigation .menu-item-activites.active a {
        border-top-color: var(--main-accent-color);
    }

    /* SECTION SEARCH */
    .section-search h1 {
        margin-top: 27px;
    }
    
    .search-form form {
        max-width: 420px;
    }

    .search-form button {
        width: auto;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    .search-form button i {
        display: none;
    }

    .search-form .btn-text {
        display: block;
    }
    
    /* SECTIONS POPULARS */
    .section-populars {
        border-radius: 16px;
        padding-left: 40px;
        padding-right: 40px;
    }

}

/* large devices */
@media (min-width: 992px) {

    /* LAYOUT */
    .page-content,
    .footer-content {
        padding-left: 40px;
        padding-right: 40px;
    }

    /* SECTIONS LAYOUT */
    .posts-popular {
        grid-template-columns: repeat(3, 1fr);
    }

    .post-popular {
        grid-column: auto;
    }
    
    .post-popular:nth-last-of-type(1):nth-of-type(odd) {
        grid-column-start: unset;
        grid-column-end: unset;
    }
    
    .post-popular .post-thumbnail img {
        height: 160px;
    }
        
    .posts-hebergements,
    .posts-activities {
        grid-template-columns: repeat(3, 1fr);
    }
    
}

/* Extra devices */
@media (min-width: 1440px) {

    /* LAYOUT */
    .page-content,
    .footer-content {
        margin: 0 auto;
        width: 1440px;
    }
    
    /* MAIN LAYOUT */
    .main-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:    "hebergements hebergements populars"
                                "activites activites activites";
        column-gap: 40px;
    }
    
    .main-content .section-hebergements {
        margin-top: 0;
    }

    /* SECTIONS LAYOUT */
    .posts-popular {
        grid-template-columns: 1fr;
        row-gap: 33px;
    }

    .post-popular .post-thumbnail img {
        height: 134px;
    }
    
    .section-hebergements {
        padding: 40px;
        background-color: var(--bg-color);
    }

    .posts-hebergements {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .section-activites {
        margin-top: 30px;
        display: block;
    }
    
    /* FILTERS */
    .filters {
        display: flex;
        align-items: center;
    }

    .filters h2 {
        margin: 0;
    }

    .list-filters {
        margin-left: 32px;
        row-gap: 0;
        column-gap: 24px;
    }

    /* SECTIONS COMMON */
    .section-hebergements .section-title,
    .section-populars .section-title{
        margin-bottom: 33px;
    }

    /* SECTION HEBERGEMENTS */
    .section-hebergements {
        border-radius: 16px;
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
    }

    .post-hebergements .post-thumbnail img {
        height: 114px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .post-hebergements .post-content {
        padding-top: 10px;
        padding-bottom: 6px;
    }

    .post-hebergements .post-content p {
        margin-top: 6px;
    }

    .section-hebergements .btn-more {
        margin: auto 0 0;
    }

    /* SECTION ACTIVITES */
    .posts-activities {
        display: block;
        columns: 4;
        column-gap: 43px;
    }

    .posts-activities .post-id-1 img {
        height: 390px;
    }

    .posts-activities .post-id-2 img {
        height: 180px;
    }

    .posts-activities .post-id-3 img {
        height: 110px;
    }

    .posts-activities .post-id-4 img {
        height: 390px;
    }

    .posts-activities .post-id-5 img {
        height: 140px;
    }

    .posts-activities .post-id-6 img {
        height: 150px;
    }

    .post-activites {
        margin-bottom: 43px;
    }

}