:root {
    --main-accent-color: #0065FC;
    --light-accent-color: #DEEBFF;
    --bg-color: #F2F2F2;

    --bp-medium: 768px;
    --bp-large: 992px;
    --bp-xlarge: 1200px
}

body {
    background-color: #fff;
}

a {
    color: var(--main-accent-color);
}

.inactive {
    color: var(--light-accent-color);
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

nav a {
    flex-grow: 1;
    min-width: 50%;
    text-align: center;
}

nav a.logo {
    text-align: left;
}

nav a.subscribe {
    text-align: right;
}

article img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 50% 50%;
}

/* Medium devices */
@media (min-width: var(--bp-medium)) {
    
}

/* Large devices */
@media (min-width: var(--bp-large)) {
    
}

/* Extra large devices */
@media (min-width: var(--bp-xlarge)) {
    
}